<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v5.3.0, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.3.0, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/icons8-ionic-500.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>Home</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
  
</head>
<body>
  
  <section class="menu menu2 cid-sTTrcbwmcY" once="menu" id="menu2-0">
    
    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
        <div class="container">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="/">
                        <img src="assets/images/icons8-ionic-500.png" alt="Mobirise" style="height: 3rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-black display-7" href="/">LiteTX</a></span>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item"><a class="nav-link link text-black display-4" href="/about">
                            About Us</a></li><li class="nav-item"><a class="nav-link link text-black display-4" href="/pricing_rate">
                            Pricing Rates</a></li><li class="nav-item"><a class="nav-link link text-black display-4" href="/support">
                            Support</a></li><li class="nav-item dropdown"><a class="nav-link link text-black dropdown-toggle display-4" href="#" data-toggle="dropdown-submenu" aria-expanded="false">Resources&nbsp;</a><div class="dropdown-menu"><a class="text-black dropdown-item display-4" href="/learn"><span class="socicon socicon-livejournal mbr-iconfont mbr-iconfont-btn"></span>Learn&nbsp;</a><a class="text-black dropdown-item display-4" href="/help_desk" aria-expanded="false"><span class="mobi-mbri mobi-mbri-users mbr-iconfont mbr-iconfont-btn"></span>FAQ</a></div></li></ul>
                
                <div class="navbar-buttons mbr-section-btn"><a class="btn btn-primary display-4" href="buy_crpto">Buy Crypto</a> <a class="btn btn-primary display-4" href="/sell_crypto">
                        Sell Crypto</a></div>
            </div>
        </div>
    </nav>
</section>

<section class="header14 cid-sTTrh7tqZn mbr-fullscreen" id="header14-1">

    

    

    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-6 image-wrapper">
                <img src="assets/images/buy-sell-crypto-litetx.webp" alt="Mobirise">
            </div>
            <div class="col-12 col-md">
                <div class="text-wrapper">
                    <h1 class="mbr-section-title mbr-fonts-style mb-3 display-2"><strong>Buy and Sell&nbsp;</strong><strong>Bitcoin &amp; Crypto</strong></h1>
                    <p class="mbr-text mbr-fonts-style display-7">Use our service today to buy and sell 20+ cryptocurrencies in minutes.<br>Get started with as little as ₦1000.</p>
                    <div class="mbr-section-btn mt-3"><a class="btn btn-primary display-4" href="https://mobiri.se">Get Started&nbsp;</a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features1 cid-sTTrl4PvP1" id="features1-3">
    

    
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"><strong>Sell Your Crypto seamlessly&nbsp;</strong></h3>
                
            </div>
        </div>
        <div class="row">
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mobi-mbri-rocket mobi-mbri"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7"><strong>Super Fast Trades&nbsp;</strong></h5>
                        <p class="card-text mbr-fonts-style display-7">Unlike every other crypto vendor we don't wait for your crypto to complete it's block transactions, we trust blockchain technology and on your transfer initiation we send you Naira instantly.</p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mobi-mbri-idea mobi-mbri"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7"><strong>Best pricing Rates&nbsp;</strong></h5>
                        <p class="card-text mbr-fonts-style display-7">We have the best pricing rates both at selling and buying, we make sure our rate is always above most vendors our there, in other words amazing rate.</p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mobi-mbri-like mobi-mbri"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7"><strong>Tested and Trusted</strong></h5>
                        <p class="card-text mbr-fonts-style display-7">Trusted by a few at the  for its secure platform, we are confident to say that your crypto is in the right hands, most times its not entirely&nbsp; about the crowd.<br></p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mobi-mbri-users mobi-mbri"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7"><strong>24/7 Support &amp; Help</strong></h5>
                        <p class="card-text mbr-fonts-style display-7">We pair our global 24/7/365 live chat with an extensive Support Center to help ensure your trades are fast.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features16 cid-sU15fVnrLk" id="features17-i">
    

    
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="assets/images/spaceship-up.webp" alt="Mobirise">
                    </div>
                </div>
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-5"><strong>Sell Crypto Instantly</strong></h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">
                            No forms, no selfies. Trade crypto anytime with ease.<br><br>All you have to do is talk to our support or social media handles and your can sell your crypto at amazing rate.</p>
                        <div class="mbr-section-btn mt-3">
                            <a class="btn btn-primary display-4" href="https://mobiri.se">
                                Learn more
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features15 cid-sU15glYWGK" id="features16-j">

    

    
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-2"><strong>Your Gateway To Crypto</strong></h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">
                            While the concept is simple, we know that aspects of cryptocurrency can seem a bit complex.&nbsp;<br><br>but with the chat to buy and sell feature&nbsp; we make this process easy for you not just to buy but also sell crypto confidently.</p>
                        <div class="mbr-section-btn mt-3">
                            <a class="btn btn-warning display-4" href="https://mobiri.se">Learn more</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="assets/images/gateway.webp" alt="Mobirise">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="clients1 cid-sTTs3h6XiA" id="clients1-b">
    
    <div class="images-container container">
        <div class="mbr-section-head">
            
            <h4 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 display-5">More than 20+ assets supported</h4>
            
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-md-3 card">
                <img src="assets/images/btc-128x128.png" alt="">
            </div>
            <div class="col-md-3 card">
                <img src="assets/images/eth-192x192.png" alt="">
            </div>
            <div class="col-md-3 card">
                <img src="assets/images/bnb-240x240.png" alt="">
            </div>
            <div class="col-md-3 card">
                <img src="assets/images/tc-240x240.png" alt="">
            </div>
            <div class="col-md-3 card">
                <img src="assets/images/ltc-240x240.png" alt="">
            </div>
            <div class="col-md-3 card">
                <img src="assets/images/tron-240x240.png" alt="">
            </div>
            <div class="col-md-3 card">
                <img src="assets/images/usdt-240x240.png" alt="">
            </div>
            <div class="col-md-3 card">
                <img src="assets/images/busd-240x240.png" alt="">
            </div>
        </div>
    </div>
</section>

<section class="features5 cid-sTTrmYonMe" id="features6-4">

    

    
    <div class="container">
        <div class="row justify-content-center">
            <div class="card col-12 col-lg-6">
                <div class="card-wrapper mbr-flex">
                    <div class="card-box align-left">
                        
                        <h5 class="card-title mbr-fonts-style align-left mb-3 display-5"><strong>secure and trustworthy</strong></h5>
                        <p class="mbr-text mbr-fonts-style mb-3 display-4">
                            Trusted by a few at the&nbsp; for its secure platform, we are confident to say that your crypto is in the right hands.</p>
                        <div class="mbr-section-btn">
                            <a href="https://mobiri.se" class="btn btn-primary display-4">Learn more</a>
                        </div>
                    </div>
                    <div class="img-wrapper img1 align-center">
                        <span class="mbr-iconfont mobi-mbri-protect mobi-mbri"></span>
                    </div>
                </div>
            </div>

            <div class="card col-12 col-lg-6">
                <div class="card-wrapper mbr-flex">
                    <div class="card-box align-left">
                        
                        <h5 class="card-title mbr-fonts-style align-left mb-3 display-5">
                            <strong>Built for you&nbsp;</strong></h5>
                        <p class="mbr-text mbr-fonts-style mb-3 display-4">
                            Every one of our services is built with you in mind. Beating our chest we can say, we give you the best crypto experience.</p>
                        <div class="mbr-section-btn">
                            <a href="https://mobiri.se" class="btn btn-primary display-4">Learn more</a>
                        </div>
                    </div>
                    <div class="img-wrapper img2 align-center">
                        <span class="mbr-iconfont mobi-mbri-users mobi-mbri"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features12 cid-sTTrnNxGg6" id="features13-5">

    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
                <div class="card-wrapper">
                    <div class="card-box align-left">
                        <h4 class="card-title mbr-fonts-style mb-4 display-2"><strong>How to sell or Buy?</strong>
                        </h4>
                        <p class="mbr-text mbr-fonts-style mb-4 display-7">We have tried our best to make this process so we use Humans with the aid of bot to make this transaction faster and easier .</p>
                        <div class="mbr-section-btn"><a class="btn btn-primary display-4" href="https://mobiri.se">Get Started</a></div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="item mbr-flex">
                    <div class="icon-box">
                        <span class="mbr-iconfont mobi-mbri-users mobi-mbri"></span>
                    </div>
                    <div class="text-box">
                        <h4 class="icon-title mbr-black mbr-fonts-style display-7"><strong>Contact Support&nbsp;</strong></h4>
                        <h5 class="icon-text mbr-black mbr-fonts-style display-4">Use any of the "Get Started buttons to contact support fo start your trade.</h5>
                    </div>
                </div>
                <div class="item mbr-flex">
                    <div class="icon-box">
                        <span class="mbr-iconfont mobi-mbri-update mobi-mbri"></span>
                    </div>
                    <div class="text-box">
                        <h4 class="icon-title mbr-black mbr-fonts-style display-7"><strong>Send Crypto or cash</strong></h4>
                        <h5 class="icon-text mbr-black mbr-fonts-style display-4">We provide a wallet address where to deposit your crypto in exchange for Naira or in a trade where by the customers wants crypto in exchange for Naira clients send Naira.</h5>
                    </div>
                </div>
                <div class="item mbr-flex">
                    <div class="icon-box">
                        <span class="mbr-iconfont mobi-mbri-protect mobi-mbri"></span>
                    </div>
                    <div class="text-box">
                        <h4 class="icon-title mbr-black mbr-fonts-style display-7">
                            <strong>Transaction Hash</strong></h4>
                        <h5 class="icon-text mbr-black mbr-fonts-style display-4">You would also provide a link to the transaction hash of your deposit.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="header13 cid-sU1f0pTjI1" id="header13-k">

    

    <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(255, 255, 255);"></div>

    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1"><strong>Buy and Sell crypto using our the Media Today</strong></h1>
                
                
                
                <div class="social-row display-7 mt-5">
                    <div class="soc-item">
                        <a href="https://twitter.com/mobirise" target="_blank">
                            <span class="mbr-iconfont socicon-whatsapp socicon"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://twitter.com/mobirise" target="_blank">
                            <span class="mbr-iconfont socicon-telegram socicon"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://twitter.com/mobirise" target="_blank">
                            <span class="mbr-iconfont socicon-facebook socicon"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://twitter.com/mobirise" target="_blank">
                            <span class="mbr-iconfont socicon-instagram socicon"></span>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="footer1 cid-sTTryHR6B5" once="footers" id="footer1-7">

    
    
    <div class="container">
        <div class="row mbr-white">
            <div class="col-12 col-md-6 col-lg-3">
                <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
                    <strong>Mobirise Help</strong>
                </h5>
                <ul class="list mbr-fonts-style display-4">
                    <li class="mbr-text item-wrap">Help Center</li>
                    <li class="mbr-text item-wrap">Mobirise Forums</li>
                    <li class="mbr-text item-wrap">Mobirise Kit</li>
                    <li class="mbr-text item-wrap">Our site</li>
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
                    <strong>Themes</strong>
                </h5>
                <ul class="list mbr-fonts-style display-4">

                    <li class="mbr-text item-wrap">Mobirise 5</li>
                    <li class="mbr-text item-wrap">Mobirise AMP</li>
                    <li class="mbr-text item-wrap">Mobirise Kit</li>
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
                    <strong>Extensions</strong>
                </h5>
                <ul class="list mbr-fonts-style display-4">
                    <li class="mbr-text item-wrap">Code Editor</li>
                    <li class="mbr-text item-wrap">Form Builder</li>
                    <li class="mbr-text item-wrap">Popup Builder</li>
                    <li class="mbr-text item-wrap">Enterprise</li>
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
                    <strong>About</strong>
                </h5>
                <p class="mbr-text mbr-fonts-style mb-4 display-4">
                    Mobirise is a free offline app for
                    Windows and Mac to easily create small/medium websites, landing pages, online resumes and
                    portfolios.</p>
                <h5 class="mbr-section-subtitle mbr-fonts-style mb-3 display-7">
                    <strong>Social</strong>
                </h5>
                <div class="social-row display-7">
                    <div class="soc-item">
                        <a href="https://twitter.com/mobirise" target="_blank">
                            <span class="mbr-iconfont socicon socicon-facebook"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://twitter.com/mobirise" target="_blank">
                            <span class="mbr-iconfont socicon socicon-twitter"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://twitter.com/mobirise" target="_blank">
                            <span class="mbr-iconfont socicon socicon-instagram"></span>
                        </a>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </div>
</section><section style="background-color: #fff; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif; color:#aaa; font-size:12px; padding: 0; align-items: center; display: flex;"><a href="https://mobirise.site/n" style="flex: 1 1; height: 3rem; padding-left: 1rem;"></a><p style="flex: 0 0 auto; margin:0; padding-right:1rem;"><a href="https://mobirise.site/r" style="color:#aaa;">This website</a> was created with Mobirise templates</p></section><script src="assets/web/assets/jquery/jquery.min.js"></script>  <script src="assets/popper/popper.min.js"></script>  <script src="assets/tether/tether.min.js"></script>  <script src="assets/bootstrap/js/bootstrap.min.js"></script>  <script src="assets/smoothscroll/smooth-scroll.js"></script>  <script src="assets/dropdown/js/nav-dropdown.js"></script>  <script src="assets/dropdown/js/navbar-dropdown.js"></script>  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>  <script src="assets/theme/js/script.js"></script>  
  
  
</body>
</html>